<!doctype html>
<html class="no-js" lang="en">
  <head>
    <% include ../partials/head %>
    <link href="//alertifyjs.com/build/css/alertify.css" rel="stylesheet">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/arena.css">
  </head>
  <body>
    <% include ../partials/header %>

    <div id="welcome" class="container-fluid">
        <div id="main-container" class="big-content abs-center bg1 appear">
          <% if (user) { %>
          <p>
            Hey <b id="person-name" class="capitalize"><%= user.displayName %></b>! 
            Nice to meet you!
          </p>
          <img class="abs-top-right circle profile-img" src="<%= user.image %>">
          <a href="/auth/logout" class="abs-bottom-right">Logout</a>
          <% } else { %>
            <a href="/auth/login" class="abs-bottom-right">Login</a>
          <% } %>

          <p>
            Let's <a id="play" href="javascript:void(0)">start the fight!</a>
          </p>
        </div>
    </div>

    <% include ../partials/loading %>

    <footer class="abs-bottom-center">
      <% include ../partials/footer %>
    </footer>

    <% include ../partials/js %>
  </body>
</html>
