<!doctype html>
<html class="no-js" lang="en">
  <head>
    <% include ../partials/head %>
    <link href="//alertifyjs.com/build/css/alertify.css" rel="stylesheet">
    <link rel="stylesheet" href="css/loading.css">
    <link rel="stylesheet" href="css/arena.css">
  </head>
  <body>
    <% include ../partials/header %>

    <% include ../partials/welcome %>

    <% include ../partials/editor %>

    <% include ../partials/players-list %>

    <% include ../partials/loading %>

    <footer class="abs-bottom-center">
      <% include ../partials/footer %>
    </footer>

    <% include ../partials/js %>
  </body>
</html>
