<!doctype html>
<html class="no-js" lang="en">
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/header %>

    <div id="app" class="container-fluid">
        <div id="main-container" class="big-content abs-center bg1 appear">
          <p><b>Hi there!</b></p>
          <p>Please, login with your Google account so we're properly introduced.</p>

          <a href="/auth/login" class="abs-bottom-right">Login</a>
        </div>
    </div>

    <footer class="abs-bottom-center">
      <% include ../partials/footer %>
    </footer>
  </body>
</html>
