<meta charset="utf-8">
<meta name="description" content="Get permissions to access user's data on Google services.">
<meta name="author" content="Alberto Miranda <b3rt.js@gmail.com>">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Code Fighter</title>

<!-- open graph -->
<meta property="og:title" content="Google Permissions" />
<meta property="og:site_name" content="Google Permissions"/>
<meta property="og:type" content="article" />
<meta property="og:description" content="Get permissions to access user's data on Google services." />
<!-- <meta property="og:url" content="TODO" /> -->
<!-- <meta property="og:image" content="TODO" /> -->
<!-- <link rel="image_src" href="TODO" /> -->

<!-- Icons -->
<link rel="apple-touch-icon" href="apple-touch-icon.png">
<!-- Place favicon.ico in the root directory -->

<!-- Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">

<!-- App styles. -->
<link rel="stylesheet" href="css/main.css">
<link rel="stylesheet" href="css/helpers.css">