<div id="players-list">
  <div id="main-container" class="big-content abs-center bg1">
    <input type="text" id="new-player-name" placeholder="Player name" maxlength="16" pattern=".{3,16}">
    <a id="open-player-editor-button" href="javascript:void(0)" data-new="true">edit</a>

    <a href="javascript:void(0)" id="close-players-list-button" class="abs-bottom-right">Back</a>
  </div>
</div>
